<div class="header">
    <div class="brand">Home</div>
  </div>
  
  <ion-content>
    <div class="posts">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
        <div class="image">
          
        </div>
        <ion-card-content>
          <div class="buttons">
            <ion-icon name="heart"></ion-icon>
            <ion-icon name="chatbubbles"></ion-icon>
          </div>
  
          <div class="comment">
            <a href="#">View All 6 Comments</a>
            <div class="addcomment">
              <input type="text" placeholder="Add a comment...">
              <ion-button fill="clear">Post</ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card> 
  
  
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
        <div class="image">
          
        </div>
        <ion-card-content>
          <div class="buttons">
            <ion-icon name="heart"></ion-icon>
            <ion-icon name="chatbubbles"></ion-icon>
          </div>
  
          <div class="comment">
            <a href="#">View All 6 Comments</a>
            <div class="addcomment">
              <input type="text" placeholder="Add a comment...">
              <ion-button fill="clear">Post</ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card> 
  
  
      <ion-card>
        <ion-card-header>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
        <div class="image">
          
        </div>
        <ion-card-content>
          <div class="buttons">
            <ion-icon name="heart"></ion-icon>
            <ion-icon name="chatbubbles"></ion-icon>
          </div>
  
          <div class="comment">
            <a href="#">View All 6 Comments</a>
            <div class="addcomment">
              <input type="text" placeholder="Add a comment...">
              <ion-button fill="clear">Post</ion-button>
            </div>
          </div>
        </ion-card-content>
      </ion-card> 
    </div>     
  </ion-content>
  
  