  <div class="header">
      <div class="brand">Stars</div>
  </div>
  
  <ion-content>
    <!-- Crescent -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>   
    <ion-progress-bar type="indeterminate" *ngIf="spinbool"></ion-progress-bar>
    <div class="posts" *ngFor="let post of posts">
      <ion-card>
        <!-- <ion-card-header> -->
            <ion-item>
                <ion-avatar item-left>
                  <img alt="./profile.svg"  src="{{post.profilepicurl}}"><br>
                  <span>{{post.location}}</span>
                </ion-avatar>
                <h5 style="margin-left: 20px">{{post.username}}</h5>
            </ion-item><br>
        <!-- </ion-card-header> -->
        <div class="image">
          <img src={{post.img[0]}}>   
        </div>
        <ion-card-content>
          <div>
            <span><strong>{{post.title}}</strong></span><br>
            <span>{{post.dscp}}</span>
          </div>
          <mat-divider></mat-divider>
          <div class="buttons">
            <!-- <ion-icon name="heart"></ion-icon> -->
            <button mat-icon-button color="warn">
                <!-- <ion-icon name="heart" style="font-size: 28px"></ion-icon> -->
                <ion-icon ios="ios-star-outline" md="md-star-outline" style="font-size: 40px" *ngIf="!likebool"></ion-icon>
                <ion-icon name="star"  style="font-size: 40px" *ngIf="likebool" style="color: gold"></ion-icon>
            </button>
            <!-- <ion-icon name="chatbubbles"></ion-icon> -->
          </div>
  
          <div class="comment">
            <a>View All {{post.commentsCount}} Comments</a>
            <div style="display: flex; flex-direction: row; justify-content: space-around">
                <mat-form-field appearance="outline" style="width: 90%; justify-content: center
                ;margin-right: 0%; margin-left: 0%; padding-left: 0%">
                    <mat-label >Add a comment</mat-label>
                    <input #comment matInput placeholder="Title">
                    <!-- <ion-button fill="clear">Post</ion-button> -->
                    <!-- <ion-icon matSuffix ios="ios-search" md="md-search" style="font-size: 24px"></ion-icon> -->
                </mat-form-field>
                <button mat-button style="margin-left: 0%; margin-bottom: 20px; margin-right: 0%" (click)="addComment(comment.value,post.user_Id,post.postId)">
                <ion-icon  matSuffix ios="ios-send" md="md-send" style="font-size: 35px; color: gold"></ion-icon></button>
                
            </div>
          </div>
          <ion-progress-bar type="indeterminate" *ngIf="commentbool"></ion-progress-bar>
        </ion-card-content>
    </ion-card>
    </div> 
     
  </ion-content>
  
  