<ion-content >
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-card style="background-color: aliceblue">
          <ion-card-content >
            <form  class="content">
              <!-- <mat-form-field appearance="outline" >
                  <mat-label >DP</mat-label>
                   <search matInput placeholder="file"></search> 
              </mat-form-field> -->
              <mat-form-field appearance="outline" >
                  <mat-label >Email</mat-label>
                  <input matInput placeholder="Email">
              </mat-form-field>
              <mat-form-field appearance="outline">
                  <mat-label>Username</mat-label>
                  <input matInput placeholder="Username">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input matInput placeholder="Phone no">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password">
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Confirm Password">
              </mat-form-field><br>
              <button class="button" mat-raised-button color="warn">Register</button>
            </form>
          </ion-card-content>
        </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>  
