.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
    
}
.card{
    margin-top: 250px;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
