<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trendingtab">
        <ion-icon name="star-outline"></ion-icon>
        <ion-label>Trending</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="searchtab">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="acounttab">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Account</ion-label>
    </ion-tab-button>


  </ion-tab-bar>

</ion-tabs>


<!-- <ion-content >
    <ion-card style="margin-top: 250px">
        <ion-card-content >
          <form  class="content">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Password">
            </mat-form-field><br>
            <button mat-raised-button color="primary">Login</button>
            <button mat-raised-button color="warn">Register</button>
          </form>
        </ion-card-content>
    </ion-card>
</ion-content> -->
