.list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
div[scrollx=true] {
    position: relative;
    overflow: hidden;
  }
  
  div[scrollx=true] {
    overflow-x: auto;
  }