.list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
div[scrollx=true] {
    position: relative;
    overflow: hidden;
  }
  
  div[scrollx=true] {
    overflow-x: auto;
  }

.subjectcontainer {
  padding: 10px;
}

.postcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0 4px;
  
  .img {
    width: 100%;
    height: 35vw;
    padding: 0;
    margin: 0;
  }
}