.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: space-between;
    
}
ion-card-content{
    padding: 30px;
}
.button{
    width: 100%;
    margin: 5px
}
ion-content{
    --ion-background-color: #2d2c28;
}