.slidercustom{
    display: flex;
    height: 100%;
    position: relative;
}
.beginBtn {
	position: absolute;
	bottom: 2%;
	right: 2%;
	width:100px;
	height:100px;
	line-height: 100px;
	background: #2d2c28
}
.image{
	background-size: cover;
}
