<ion-header>
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" class="slidercustom">
    <ion-slide>
      <img src="../assets/images/tourscreen.jpg">
    </ion-slide>
    <ion-slide>
      <img src="../assets/images/tourscreen.jpg">
    </ion-slide>
    <ion-slide>
     <img src="../assets/images/tourscreen.jpg">
      <button mat-fab class="beginBtn" (click)="login()">Begin</button>
    </ion-slide>
  </ion-slides>
</ion-content>
