<!-- <ion-header>
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-slides pager="true" class="slidercustom">
    <ion-slide>
      <img src="../assets/images/Screen1.jpg" class="image">
    </ion-slide>
    <ion-slide>
      <img src="../assets/images/Screen2.jpg" class="image">
    </ion-slide>
    <ion-slide>
     <img src="../assets/images/Screen3.jpg" class="image">
      <button mat-fab class="beginBtn" (click)="login()">Begin</button>
    </ion-slide>
  </ion-slides>
</ion-content>
