<ion-header>
  <ion-toolbar>
    <ion-title>intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" class="slidercustom">
    <ion-slide style="background-color: blue">
      <h1>Slide 1</h1>
    </ion-slide>
    <ion-slide style="background-color: maroon">
      <h1>Slide 2</h1>
    </ion-slide>
    <ion-slide
    style="display: flex; flex-direction: column; background-color: chartreuse; margin-bottom: auto">
      <h1>Slide 3</h1>
      <button mat-fab style="margin-top: auto; margin-left: auto; height: 90px; width: 90px;" (click)="login()">Begin</button>
    </ion-slide>
  </ion-slides>
</ion-content>
