.item{
    padding: 20px 0;
    ion-label {
        margin: 5px 0;
        font-weight: bold;
    }
    .fontfornotification{
        font-size: 15px;
        margin: 0;
    }
}

.items {
    ion-item {
        padding: 0;
    }
}
